body {
    font-family: Verdana, Geneva, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: normal;
    background-color: #eaeaea;
    margin:100px;
}
.main {
    background-color: #FFF;
    width: 600px;
    height:450px;
    margin:0 auto;
    padding:20px;
}
.title {
    color: #000;
    text-align:center;
    font-size:18px;
    font-weight:bold;

}

.text{

    padding-left:50px;
    padding-right:50px;
}

.login_form{
    padding-left:50px;
    text-align: center;
    padding: 20px;
}

.login_div{
    width:350px;
    border: 1px solid #eaeaea;
    margin: 0 auto;
    padding:10px;
    height: 150px;
}

.footer{
    color:#cccccc;
    text-align: center;
    margin:50px;
}

.content{
    height:200px;

}

.error{
    color:#ff0000;
    font-style: italic;
    font-size: 12px;

}