
/*html,body {*/
    /*font: 100%/1.4 Verdana, Arial, Helvetica, sans-serif;*/
    /*background-color: #EEE;*/
    /*margin: 0;*/
    /*padding: 0;*/
    /*color: #000;*/
    /*font-size: 13px;*/

html {
    position: relative;
    min-height: 100%;
}
body {
    margin-bottom: 60px;
    height: 100%;
}
#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    min-width: 750px;
    /* Set the fixed height of the footer here */
    height: 60px;
    background-color: #f5f5f5;
}




body > .container {
    padding: 150px 15px 0;
}
.container .text-muted {
    margin: 20px 0;
}

#footer > .container {
    padding-right: 15px;
    padding-left: 15px;
}

/*code {*/
    /*font-size: 80%;*/
/*}*/

.header {
    margin: 0 auto;
    padding: 0;
    min-width: 750px;
}
.header-top {
    margin-bottom: -20px;

}
.header-bottom {
    box-sizing: border-box;
    z-index: 1030;
    background: #fff;
    border-bottom: solid 1px #d0d0d0;
    border-top: solid 1px #d0d0d0;
}

.content {
    min-width: 750px;
}


.middle {
    min-width: 750px;
}

.logo {
    height: 80px;
    min-width: 193px;
    display: inline-block;
}
.logo-img {
    height: 80px;
}

.search-form {
    vertical-align: middle;
    margin: 0;
    width: 704px;
    width: -moz-calc(100% - 165px - 193px);
    width: calc(100% - 165px - 193px);
    display: inline-block;
}

.cart-container {
    vertical-align: middle;
    display: inline-block;
}


.price-ru::after {
    display: none;
    content: "p";
    font-size: .83em;
    font-family: ruble, Tahoma, Arial, monospace;
    text-decoration: none;
    vertical-align: baseline;
}
.goods-count {
    display: none;
}

.nodisplay {
    display: none;
}

.loading {
    position: absolute;
    height: 100%;
    width: 100%;
    background: rgba(255, 255, 255, .7) url(http://ru.preloader.org/preloader/circle_FFFFFF_0000FF_32_10_4_0.gif) 50% 50% no-repeat;
}
.login {
    width: 300px;
}

.mainspinner{
    top:0;
    right:0;
    width:100%;
    height:100%;
    position:fixed;
    text-align:center;z-index:10000;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-align-items:center;-ms-flex-align:center;align-items:center;-webkit-justify-content:center;-ms-flex-pack:center;justify-content:center}
.spinner{margin:30px auto;width:100px;height:80px;text-align:center;font-size:10px}
.spinner>div{background-color:#337ab7;height:100%;width:12px;margin-left:2px;margin-right:2px;display:inline-block;-webkit-animation:stretchdelay 1.2s infinite ease-in-out;animation:stretchdelay 1.2s infinite ease-in-out}
.spinner .rect2{-webkit-animation-delay:-1.1s;animation-delay:-1.1s}
.spinner .rect3{-webkit-animation-delay:-1s;animation-delay:-1s}
.spinner .rect4{-webkit-animation-delay:-.9s;animation-delay:-.9s}
.spinner .rect5{-webkit-animation-delay:-.8s;animation-delay:-.8s}@-webkit-keyframes stretchdelay{0%,100%,40%{-webkit-transform:scaleY(0.4)}20%{-webkit-transform:scaleY(1)}}@keyframes stretchdelay{0%,100%,40%{transform:scaleY(0.4);-webkit-transform:scaleY(0.4)}20%{transform:scaleY(1);-webkit-transform:scaleY(1)}}

.login-error {
    padding: 0 25px;
}

.product-list {
    box-sizing: border-box;
}

.product-img {
    /*border-color: #1963aa;*/
    width: 15%;
    height: 100%;
    margin-right: 15px;
    display: inline-block;
}

.product-desc {
    /*border-color: #1963aa;*/
    width: 55%;
    height: 100%;
    margin-right: 10px;
    display: inline-block;
}

.product-price {
    margin-right: 10px;
    width: 15%;
    display: inline-block;
    font-size: 18px;
}
.product-price-val {
    display: inline-block;
}


.product-tool {
    /*border-color: #1963aa;*/
    width: 8%;
    height: 100%;
    display: inline-block;
}



/*.footer{*/
    /*color:#cccccc;*/
    /*text-align: center;*/
    /*margin:5px;*/
    /*height: 50px;*/
    /*float:left;*/
    /*width: 100%;*/
/*}*/


/*.middle {*/
    /*background-color: #FFFFFF;*/
    /*width: 100%;*/
    /*float:left;*/
/*}*/

/*.left_menu {*/
    /*float: left;*/
    /*width: 20%;*/
    /*padding-bottom: 10px;*/
    /*margin: 10px;*/
/*}*/
/*.content {*/
    /*padding: 10px 0;*/
    /*width: 75%;*/
    /*float: left;*/
/*}*/

