<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
<h:head>
    <title>Тестовый интернет-магазин</title>
</h:head>
<h:body>
    <ui:composition template="/resources/templates/view_tempelate.xhtml">
        <ui:define name="title">
            Тестовый интернет-магазин
        </ui:define>
        <ui:define name="content">
            <p>Контакты!!!!!!!!</p>
        </ui:define>
    </ui:composition>
</h:body>

</html>
