<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:a="http://xmlns.jcp.org/jsf/passthrough">

<ui:composition template="/resources/templates/page_template.xhtml">
    <ui:define name="title">
        Логин
    </ui:define>

    <ui:define name="content">
        <div class="login">
            <h:form id="formLogin1">
                <div class="text-center"><h4>Войти в личный кабинет:</h4></div>

                <div id="msgContiner" class="alert alert-danger hide">
                    <span class="glyphicon glyphicon-exclamation-sign"/>
                    <span class="sr-only">Error:</span>
                    <h:outputText id="msg" value="#{customerController.responseMsg}"/>
                </div>

                <div class="form-group">
                    <label>Логин:</label>
                    <h:inputText id="customerLogin" styleClass="form-control" value="#{customer.login}" a:placeholder="Введите логин"></h:inputText>
                </div>
                <div class="form-group">
                    <label>Пароль:</label>
                    <h:inputSecret id="customerPsw" styleClass="form-control" value="#{customer.psw}"  a:placeholder="Введите пароль"></h:inputSecret>
                </div>
                <div class="form-group">
                    <h:commandLink value="Выйти" styleClass="btn btn-primary btn-lg btn-block">
                        <f:ajax onevent="ajaxOnEventLogin" event="click" render="msg" listener="#{customerController.login}"/>
                    </h:commandLink>
                    <span class="pull-left">
                        <a href="#{facesContext.externalContext.requestContextPath}/registration">Регистрация</a>
                    </span>
                </div>
            </h:form>
        </div>

    </ui:define>
</ui:composition>
</html>
