<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
<h:head>
    <title>Тестовый интернет-магазин</title>
</h:head>
<h:body>
    <ui:composition template="/resources/templates/view_tempelate.xhtml">
        <ui:define name="title">
            Тестовый интернет-магазин
        </ui:define>
        <ui:define name="content">
            <div class="col-md-12">
            <div class="panel panel-default panel-body product-list">
                <h3>#{productControllers.currentProduct.name}</h3>
                <div class="col-md-6">
                    <h:graphicImage value="/loadimg?id=#{productControllers.currentProduct.id}" styleClass="img-thumbnail"/>
                </div>
                <div class="col-md-6">
                    Кнопки
                </div>
                <div class="col-md-12">
                    <h4>Технические характеристики #{productControllers.currentProduct.name}</h4>
                    <br/>
                    <p>#{productControllers.currentProduct.description}</p>
                    <table class="table">
                        <ui:repeat value="#{productControllers.currentProduct.attrs}" var="attr">
                            <tr>
                                <td>#{attr.attr_name}</td>
                                <td>#{attr.val}</td>
                            </tr>
                        </ui:repeat>

                    </table>
                </div>
            </div>

            </div>
        </ui:define>
    </ui:composition>
</h:body>
</html>
