<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:a="http://xmlns.jcp.org/jsf/passthrough">
<ui:composition template="/resources/templates/page_template.xhtml">
    <ui:define name="title">
        Регистрация
    </ui:define>
    <ui:define name="left_menu">

    </ui:define>

    <ui:define name="content">
        <div class="col-md-6">
            <h:form id="formRegistration">
                <div class="text-center"><h4>Регистрация:</h4></div>

                <div id="alertContiner" class="alert hide">
                    <span class="glyphicon glyphicon-exclamation-sign"/>
                    <span class="sr-only">Error:</span>
                    <h:outputText id="regResponseMsg" value="#{customerController.responseMsg}"/>
                </div>

                <div id="groupFio"  class="form-group ">
                    <label class="control-label">ФИО <span class="text-danger">*</span></label>
                    <h:inputText id="fio" styleClass="form-control" a:placeholder="Введите ФИО"></h:inputText>
                </div>
                <div id="groupLogin" class="form-group">
                    <label class="control-label">Логин <span class="text-danger">*</span></label>
                    <h:inputText id="login" styleClass="form-control" a:placeholder="Введите логин"></h:inputText>
                </div>
                <div id="groupPhone" class="form-group">
                    <label class="control-label">Тлефон <span class="text-danger">*</span></label>
                    <h:inputText id="phone" styleClass="form-control" a:placeholder="Введите телефон"></h:inputText>
                </div>
                <div id="groupPsw" class="form-group ">
                    <label class="control-label">Пароль <span class="text-danger">*</span></label>
                    <h:inputSecret id="psw" styleClass="form-control" a:placeholder="Введите пароль"></h:inputSecret>
                </div>
                <div id="groupRepeatPsw" class="form-group">
                    <label class="control-label">Повтор пароля <span class="text-danger">*</span></label>
                    <h:inputSecret id="repeatPsw" styleClass="form-control" a:placeholder="Повторите пароль"></h:inputSecret>
                </div>

                <div class="form-group">
                    <h:commandButton id="btnReg" value="Зарегистрироваться" styleClass="btn btn-primary btn-lg btn-block" >
                        <f:ajax onevent="ajaxOnEventReg" event="click" render=":regErrorFlag regResponseMsg alertContiner" listener="#{customerController.registration}"/>
                    </h:commandButton>
                </div>
            </h:form>
            <h:inputHidden id="regErrorFlag" value="#{customerController.errorFlag}"/>
        </div>

    </ui:define>
</ui:composition>
</html>
