<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core">
<h:head>
    <title>Facelet Title</title>
    <h:outputStylesheet library="css" name="style.css"/>
</h:head>
<h:body>
    <ui:composition>
        <!-- Fixed navbar -->
        <div class="navbar navbar-default navbar-fixed-top" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <div class="collapse navbar-collapse">
                    <h:form>
                        <ul class="nav navbar-nav">
                            <li class="active"><a href="#{facesContext.externalContext.requestContextPath}">Главная страница</a></li>
                            <!--<a href="#{facesContext.externalContext.requestContextPath}">-->
                            <li><a href="#about">Оплата и доставка</a></li>
                            <li><h:commandLink action='#{pageControllers.Contacts}' value="Контакты"/></li>
                            <!--<li><a href="#contact">Контакты</a></li>-->
                        </ul>

                        <ul class="nav navbar-nav navbar-right">
                            <h:panelGroup rendered="#{session.getAttribute('isAuth')== null}">
                                <li><a id="btnLogin">Вход</a></li>
                                <li><a href="#{facesContext.externalContext.requestContextPath}/registration">Регистрация</a></li>
                            </h:panelGroup>
                            <h:panelGroup rendered="#{session.getAttribute('isAuth')== 'true'}">
                                <li><a>#{customerController.currentCustomer.fio}</a></li>
                                <li><h:commandLink action="#{customerController.logout}" value="Выйти"/></li>
                            </h:panelGroup>
                        </ul>
                    </h:form>
                </div><!--/.nav-collapse -->
            </div>
            <div class="header-bottom">
                <div class="container">
                    <div class="logo">
                        <a href="#{facesContext.externalContext.requestContextPath}">
                            <h:graphicImage library="img" name="logo.png" styleClass="logo-img"></h:graphicImage>
                        </a>
                    </div>
                    <div class="search-form">
                        <div class="input-group">
                            <h:inputText styleClass="form-control"></h:inputText>
                   <span class="input-group-btn">
                      <button class="btn btn-default" type="button">
                          <span class="glyphicon glyphicon-search"></span>
                      </button>
                   </span>
                        </div>
                    </div>

                    <div class="cart-container">
                        <a class="btn btn-default" href="#{facesContext.externalContext.requestContextPath}/cart">
                            <span  class="glyphicon glyphicon-shopping-cart"> Корзина</span>
                            <span id="price" class="price-ru" ></span>
                            <span class="badge">33</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>





    </ui:composition>

</h:body>
</html>

