<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core">
<h:head>
    <title>Facelet Title</title>
    <h:outputStylesheet library="css" name="style.css"/>
</h:head>
<h:body>
    <ui:composition>

        <div id="sidebar" class="navbar navbar-default">
            <h:form>

                <div class="gw-sidebar">
                    <div id="gw-sidebar" class="gw-sidebar">
                        <div class="nano-content">
                            <ul class="gw-nav gw-nav-list">
                                <li class="init-un-active"><a href="#"><span class="gw-menu-text gw-menu-top">Каталог товаров</span> </a></li>

                                <ui:repeat value="#{categoriesController.categoryList}" var="c">

                                    <li class="init-arrow-down">
                                        <a href="#"> <span class="gw-menu-text">#{c.name}</span> <b class="gw-arrow"></b> </a>
                                        <ul class="gw-submenu">

                                            <ui:repeat value="#{c.subcategories}" var="sub">
                                                <li>
                                                    <h:commandLink value="#{sub.name}">
                                                        <f:ajax onevent="ajaxOnEvent" event="click" render="productsList" listener="#{productControllers.fillProductBySubcategoryId}"></f:ajax>
                                                        <f:param name="subcategory_id" value="#{sub.id}"></f:param>
                                                    </h:commandLink>
                                                </li>
                                            </ui:repeat>

                                        </ul>
                                    </li>
                                </ui:repeat>

                            </ul>
                        </div>
                    </div>
                </div>
            </h:form>
        </div>

    </ui:composition>
</h:body>
</html>

