<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:a="http://xmlns.jcp.org/jsf/passthrough" xmlns:f="http://xmlns.jcp.org/jsf/core">
<h:head>
    <title>
        <ui:insert name="title"/>
    </title>
    <h:outputStylesheet library="css" name="style.css"/>
    <h:outputStylesheet library="css" name="menu.css"/>
    <link rel="stylesheet"
          href="#{facesContext.externalContext.requestContextPath}/resources/libs/bootstrap3.3.5/css/bootstrap.min.css"/>

    <h:outputScript library="libs" name="jquery214.js"/>
    <h:outputScript name="libs/bootstrap3.3.5/js/bootstrap.js" target="head"/>
    <h:outputScript library="js" name="my.js"></h:outputScript>
</h:head>
<h:body>
    <div class="header">
        <ui:insert name="header">
            <ui:include src="header.xhtml"/>
        </ui:insert>
    </div>

    <div class="container middle">
        <div class="row">
            <div class="col-md-12">
                <div id="content">
                    <div id="loadingOverlaySpinner" class="mainspinner hide">
                        <div class="spinner">
                            <div class="rect1"></div>
                            <div class="rect2"></div>
                            <div class="rect3"></div>
                            <div class="rect4"></div>
                            <div class="rect5"></div>
                        </div>
                    </div>
                    <ui:insert name="content">
                        <ui:include src="content.xhtml"/>
                    </ui:insert>
                </div>
            </div>

        </div>
    </div>

    <div id="footer">
        <div class="container panel-footer">
            <ui:insert name="footer">
                <ui:include src="footer.xhtml"/>
            </ui:insert>
        </div>
    </div>

    <!--Modal-->
    <div id="loginModal" class="modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button id="btnClose" type="button" class="close">×</button>
                    <h1 class="text-center">Войти в личный кабинет</h1>
                </div>
                <div class="modal-body">
                    <h:form  id="formLogin" class="form  center-block">
                        <div id="msgContiner" class="alert alert-danger hide">
                            <span class="glyphicon glyphicon-exclamation-sign"/>
                            <span class="sr-only">Error:</span>
                            <h:outputText id="msg" value="#{customerController.responseMsg}"/>
                        </div>
                        <div class="form-group">
                            <label>Логин:</label>
                            <h:inputText id="customerLogin" styleClass="form-control" value="#{customer.login}" a:placeholder="Введите логин"/>
                        </div>
                        <div class="form-group">
                            <label>Пароль:</label>
                            <h:inputSecret id="customerPsw" styleClass="form-control" value="#{customer.psw}"  a:placeholder="Введите пароль"/>
                        </div>
                        <div class="form-group">
                            <h:commandLink value="Войти" styleClass="btn btn-primary btn-lg btn-block">
                                <f:ajax onevent="ajaxOnEventLogin" event="click" render="msg :loginErrorFlag" listener="#{customerController.login}"/>
                            </h:commandLink>
                        </div>
                    </h:form>
                    <h:inputHidden id="loginErrorFlag" value="#{customerController.errorFlag}"/>
                </div>

                <div class="modal-footer">
                    <div class="">
                        <span class="pull-left">
                             <a href="#{facesContext.externalContext.requestContextPath}/registration">Регистрация</a>
                        </span>

                    </div>
                </div>

            </div>
        </div>
    </div>




</h:body>
</html>

