<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
<h:head>
    <title>Facelet Title</title>
</h:head>
<h:body>
    <ui:composition>
            <div class="panel panel-default panel-body product-list">
                <table class="table table-bordered">
                    <ui:repeat value="#{productControllers.productList}" var="p">
                        <tr>
                            <td>
                                <div class="product-item">

                                    <div class="product-img">
                                        <h:graphicImage value="/loadimg?id=#{p.id}" width="120" height="80"/>
                                    </div>
                                    <div class="product-desc text">
                                        <h4>#{p.name}</h4>

                                        <h:commandLink value="#{p.name}">
                                            <f:ajax onevent="ajaxOnEvent" event="click" render="@form" listener="#{productControllers.fillProductBySubcategoryId}"/>
                                            <f:param name="subcategory_id" value="11"></f:param>
                                        </h:commandLink>

                                    </div>


                                    <div class="product-price">
                                        <div class="product-price-val">
                                            #{p.price}
                                        </div>
                                        <span class="glyphicon glyphicon-rub product-price-val"></span>
                                    </div>

                                    <div class="product-tool">
                                        <button type="button" class="btn btn-default btn-lg">
                                            +<span class="glyphicon glyphicon-shopping-cart"></span>
                                        </button>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </ui:repeat>
                </table>

            </div>
    </ui:composition>
</h:body>
</html>
